<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edwin.team.com.photoclient" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:name="edwin.team.com.photoclient.Classes.AppController"
        android:icon="@drawable/camera"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        android:debuggable="true"
        <activity
            android:name=".Activities.LoginActivity"
            android:label="" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.RegistrationActivity"
            android:label="" />
        <activity
            android:name=".Activities.UploadActivity"
            android:label=""
            android:largeHeap="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activities.DashboardActivity"
            android:label="@string/title_activity_dashboard" >
        </activity>
        <activity
            android:name=".Activities.ChangeUserInfoActivity"
            android:label="@string/title_activity_change_user_info" >
        </activity>
        <activity
            android:name=".Activities.ShoppingCartActivity"
            android:screenOrientation="landscape"
            android:label="@string/title_activity_shoppingcart" >
        </activity>
		<activity
            android:name=".Activities.CollectionActivity"
            android:label="@string/title_activity_collection" >
        </activity>
        <activity
            android:name=".Activities.ProductConfirmationActivity"
            android:screenOrientation="landscape"
            android:label="@string/title_activity_collection" >
        </activity>
        <activity android:name=".Activities.PickProductActivity"
            android:screenOrientation="landscape"
            android:label="@string/title_section4" >
        </activity>
        <activity android:name=".Activities.PickPhotoActivity"
            android:screenOrientation="landscape"
            android:label="@string/title_section4">
        </activity>
        <activity android:name=".Activities.ProductPhotoActivity"
            android:screenOrientation="landscape"
            android:label="@string/title_section4">
        </activity>

    </application>

</manifest>
